.schedule{
    background-color: #424242;
    height: 100vh;
}
.scheduleBox{
    position: relative;
    width: 90vh;
    max-height: 50%;
    width: 80%;
    top: 10vh;
    margin: auto;
    
}
.classPaper{
    
}